<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Staff</title>
  <div th:replace="header :: cssHeader"></div>

</head>
<body>
<header th:insert="header :: navbarHeader"></header>
<h1 class="mx-4">Edit Staff</h1>
<form class="flex w-50 mx-4" action="#" th:action="@{/admin/staff/edit/{idStaff}(idStaff=${idStaff})}" th:object="${staff}" method="post">

  <div class="form-outline form-white mb-4">
    <label class="form-label" for="nama">Nama</label>
    <input type="text" id="nama" class="form-control form-control-lg" th:field="*{nama}"/>
  </div>

  <div class="form-outline form-white mb-4">
    <label class="form-label" for="email">Email</label>
    <input type="email" id="email" class="form-control form-control-lg" th:field="*{email}"/>
  </div>


  <div class="form-outline form-white mb-4">
    <label class="form-label" for="role">Role</label>
    <select id="role" th:field="*{role}">
      <option th:value="'1'">ASISTEN LAB</option>
      <option th:value="2">ASISTEN INSTRUKTUR</option>
      <option th:value="3">INSTRUKTUR</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>