<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List Peserta Batch</title>
    <div th:replace="header :: cssHeader"></div>

</head>
<body>
<header th:insert="header :: navbarHeader"></header>

<a class="btn btn-secondary btn-sm mx-2" th:href="@{/admin/list_batch/{batchId}(batchId=${batchId})}">&laquo; Batch</a>
<div th:switch="${pesertaList}">
    <h2 th:case="null">Tidak ada peserta</h2>
    <div th:case="*">
        <h2>Peserta Batch <span th:text="${dateBatch.tanggalMulai}"></span> / <span th:text="${dateBatch.tanggalAkhir}"></span></h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Nama</th>
                <th scope="col">Email</th>
                <th scope="col">No. Telfon</th>
                <th scope="col">NPM</th>
                <th scope="col">Kursus</th>
                <th scope="col">Batch</th>
<!--                <th>Edit</th>-->
<!--                <th>Delete</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="peserta : ${pesertaList}">
                <td th:text="${peserta.nama}"></td>
                <td th:text="${peserta.email}"></td>
                <td th:text="${peserta.phoneNum}"></td>

                <td th:text="${peserta.npm}"></td>
                <td th:switch="${peserta.kursus}">
                    <span th:case="'SAP'" style="color:DodgerBlue;">SAP</span>
                    <span th:case="'CISCO'" style="color:DeepSkyBlue;">CISCO</span>
                    <span th:case="*" style="color:blue;">null</span>
                </td>
                <td th:text="${peserta.batch}"></td>
<!--                <td><a th:href="@{/edit/{id}(id=${user.id})}">Edit</a></td>-->
<!--                <td><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>