<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Detail Jadwal Peserta</title>
</head>
<body>
<h1>List Jadwal</h1>
<h3><a th:href="@{/admin/list_peserta}">Back</a></h3>
<h1>Jadwal Untuk NPM : <span th:text="${pesertaNpm}"></span></h1>
<div th:switch="jadwalList">
  <h2 th:case="null">List Peserta Kosong</h2>
  <div th:case="*">
    <div th:each="jadwal : ${jadwalList}">
      <h1>Nama: <span th:text="${jadwal.nama}"></span> - <span th:text="${jadwal.tanggal}"></span></h1>

      <!--      <h2><a th:href="@{/admin/list_batch/{batchId}(batchId=${batch.dateBatchId})}">Details>></a></h2>-->
    </div>
  </div>

</div>
</body>
</html>